@mixin icon {
  display: inline-block;
  height: #{(20/22)}em; // 20px for 22px text
  width: auto;
  vertical-align: middle;
}

svg:not(.xxx) { // :not() to increase specificity over class in _global.scss
  &.icon {
    @include icon;
  }

  &.icon-caret_down {
    height: #{(8/16)}em; // 8px for 16px text
  }
}

